.meta-ember {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_ember.png');
  background-position: 12px 9px !important;
  cursor: pointer;
}

.meta-ember:hover {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_ember_hover.png');
  color: #444 !important;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .meta-ember {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_ember@2x.png');
    background-size: 15px 16px;
    background-position: 12px 9px !important;
  }

  .meta-ember:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_ember_hover@2x.png');
    background-size: 15px 16px;
  }
}
